USE [master]
GO
/****** Object:  Database [Tallinja]    Script Date: 25/07/2021 23:43:26 ******/
CREATE DATABASE [Tallinja]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tallinja', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tallinja.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tallinja_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tallinja_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tallinja].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tallinja]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 25/07/2021 23:43:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customer_id] [uniqueidentifier] NOT NULL,
	[customer_number] [int] NOT NULL,
	[date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[customer_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomersBalance]    Script Date: 25/07/2021 23:43:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomersBalance](
	[customer_id] [uniqueidentifier] NOT NULL,
	[balance] [decimal](6, 2) NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_CustomersBalance] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (newid()) FOR [customer_id]
GO
ALTER TABLE [dbo].[CustomersBalance] ADD  DEFAULT (newid()) FOR [customer_id]
GO
ALTER TABLE [dbo].[CustomersBalance]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CK_CN_LEN] CHECK  ((len([customer_number])>=(6) AND len([customer_number])<=(8)))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CK_CN_LEN]
GO
ALTER TABLE [dbo].[CustomersBalance]  WITH CHECK ADD CHECK  (([balance]<(0)))
GO
USE [master]
GO
